@import './grid';

* {
  margin: 0; padding: 0; box-sizing: border-box;
}

html, body {
  height: 100%; width: 100%;
}

body {
  position: relative;
  background-color: #FFCC99;
}

.navigation {
  @include column(1/10);
}
.main {
  @include column(9/10);
  margin-right: 0;
  height: 100%;
}
.comic-page {
  height: 100%;
  & > a {
    @include column(1/9);
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    height: 100%;
    padding-top: 20%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  & > [f-comic] { @include column(7/9); }
  & > a:last-child { margin-right: 0; }
}
[f-comic] {
  text-align: center;

  & > ul > li {
    display: inline-block;
    margin: 0 1em;
    cursor: pointer;
  }

  & > .data-values {
    text-align: left;

    [for="comic_id"], [for="comic_appearances"] { @include column(1/9); }
  }

  & > pre {
    text-align: left;
  }
}
