@import './grid';

$freefall_orange: #FFCC99;

// https://kuler.adobe.com/Copy-of-Bookstore-color-theme-3309517/
$red: #D94214;
$yellow: #FFF2C1;
$blue-1: #80A894;
$blue-2: #52736B;
$blue-3: #093844;

//http://clrs.cc/
$black: #111111;
$gray: #AAAAAA;
$silver: #DDDDDD;

* {
  margin: 0; padding: 0; box-sizing: border-box;
}

a {
  color: $blue-2;
  &:visited {
    color: $blue-3;
  }
}

html, body {
  height: 100%; width: 100%;
}

html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  position: relative;
  background-color: $yellow;
}

.navigation {
  position: absolute;
  height: 80%;
  top: calc(-80% + 2rem + 1px);
  width: 40em;
  left: calc(-40em + 2rem + 1px);
  transition: all 0.3s;
  padding: 1rem 1rem 2rem;
  background-color: $yellow;
  border: 1px solid $black;
  border-width: 0 1px 1px 0;

  &.s-visible {
    top: 0; left: 0;
  }

  > .changes, > .chapters {
    @include column(1/2);
    position: relative;
    height: 100%;

    > ul {
      position: absolute;
      top: 3rem;
      bottom: 0;
      overflow-y: auto;
    }
  }

  > .chapters {
    margin-right: 0;
  }

  > .toggle-navigation {
    position: absolute;
    bottom: 0; right: 0;
    width: 2rem; height: 2rem;
    border: 1px solid $black;
    border-width: 1px 0 0 1px;
    &:before {
      content: "";
      display: inline-block;
      margin: 0.6rem;
      width: 0.6rem; height: 0.6rem;
      border: 1px solid $black;
      border-width: 0 1px 1px 0;
    }
  }
  &.s-visible > .toggle-navigation {
    &:before {
      border-width: 1px 0 0 1px;
    }
  }
}
.main {
  height: 100%;
}
.comic-page {
  height: 100%;
  & > a {
    @include column(1/10);
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    height: 100%;
    padding-top: 20%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  & > [f-comic] {
    @include column(8/10);
    margin-top: 2rem;
  }
  & > a:last-child { margin-right: 0; }
}
[f-comic] {
  text-align: center;
  font-size: 0;
  min-height: 21rem;
  > {
    .id, .chapter, .description, .panel-selector, .tag-data {
      font-size: 1rem;
    }
    .id { @include column(1/8); text-align: left; }
    .chapter { @include column(6/8); text-align: center; }
    .description { @include column(1/8); margin-right: 0; text-align: right; }

    .comic-wrapper {
      display: inline-block;

      > img {
        min-height: 242px;
        margin: 1rem 0 0;
      }

      > .panel-selector {
        $icon_width: 2em;
        margin: 0 auto;
        font-size: 0;
        > * {
          position: relative;
          display: inline-block;
          margin-bottom: -1px;
          font-size: 1rem;
          cursor: pointer;

          &:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 0; height: 0;
            bottom: 0;
            left: 50%;
            left: calc(50% - 0.5rem);
            border-style: solid;
            border-color: red transparent $black;
            border-width: 0 0.5rem 0.5rem;

          }
          &:hover:before {
            border-width: 0 0.75rem 0.75rem;
            left: calc(50% - 0.75rem);
          }
          &.selected {
            &:before {
              border-width: 0 1rem 1rem;
              left: calc(50% - 1rem);
            }
            &:after {
              content: "";
              display: inline-block;
              position: absolute;
              width: 0; height: 0;
              bottom: -1px;
              left: 50%;
              left: calc(50% - 1rem);
              border-left: 1rem solid transparent;
              border-right: 1rem solid transparent;
              border-bottom: 1rem solid white;
            }
          }

          &:first-child {
            width: $icon_width;
            text-align: center;
            margin-left: -1 * $icon_width;
            &:before, &:after { display: none; }
          }
          &:last-child {
            width: $icon_width;
            text-align: center;
            margin-right: -1 * $icon_width;
            &:before, &:after { display: none; }
          }
        }
      }
    }

    .tag-data {
      margin: 0 (-1 * $gutter_width);
      padding: 1rem $gutter_width;
      background-color: white;
      border: 1px solid $black;
      text-align: left;
      font-size: 0;

      input, textarea {
        display: block;
        width: 100%;
      }

      > * {
        font-size: 1rem;
        @include column(1/8);
      }
      > [for="comic-url"] { @include column(2/8); }
      > *:last-child { margin-right: 0; }

      > .dialog {
        width: 100%;
        font-size: 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid $silver;
        margin-bottom: 1rem;
        > * {
          font-size: 1rem;
        }
        > [for="dialog-character"] { @include column(1/8); }
        > [for="dialog-action"] { @include column(1/8); }
        > [for="dialog-text"] { @include column(5/8); }
        > *:last-child { @include column(1/8); margin-right: 0; }
      }
    }
  }

}
