@import './grid';

* {
  margin: 0; padding: 0; box-sizing: border-box;
}

html, body {
  height: 100%; width: 100%;
}

body {
  position: relative;
  background-color: #FFCC99;
}

.navigation {
  @include column(1/10);
}
.main {
  @include column(9/10);
  margin-right: 0;
  height: 100%;
}
.comic-page {
  height: 100%;
  & > a {
    @include column(1/9);
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    height: 100%;
    padding-top: 20%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  & > [f-comic] { @include column(7/9); }
  & > a:last-child { margin-right: 0; }
}
[f-comic] {
  text-align: center;
  font-size: 0;
  > {
    $comic_width: 768px;
    .id, .chapter, .description, .panel-selector, .tag-data {
      font-size: 1rem;
    }
    .id { @include column(1/7); text-align: left; }
    .chapter { @include column(5/7); text-align: center; }
    .description { @include column(1/7); margin-right: 0; text-align: right; }

    img {
      min-width: $comic_width;
      min-height: 242px;
    }

    .panel-selector {
      $icon_width: 2em;
      width: $comic_width;
      margin: 1rem auto 0;
      font-size: 0;
      > * {
        display: inline-block;
        font-size: 1rem;
        cursor: pointer;
        &:first-child {
          width: $icon_width;
          text-align: center;
          margin-left: -1 * $icon_width;
        }
        &:last-child {
          width: $icon_width;
          text-align: center;
          margin-right: -1 * $icon_width;
        }
        &.selected {
          border-top: 1px solid blue;
        }
      }
    }

    .tag-data {
      text-align: left;
       > * {
         @include column(1/7);
       }
    }
  }

}
