<!DOCTYPE html>
<html>
  <head>
    <title>FreeFall Archive Viewer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="freefall.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script>
      if (!window.angular){
        document.write('<script src="bower_components/angular/angular.js"><\/script>');
        document.write('<script src="bower_components/angular-route/angular-route.js"><\/script>');
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js"></script>
    <script src="freefall.js"></script>
  </head>
  <body ng-app="freefall" ng-controller="AppCtrl" f-file-uploader="processNewData(name, text)">

    <div class="navigation" ng-class="{'s-visible': showNavigation}">
      <div class="changes" ng-if="hasCustomData()">
        <h1>Changes</h1>
        <ul>
          <li></li>
        </ul>
      </div><div class="chapters">
        <h1>Chapters</h1>
        <ul>
          <li ng-repeat="strip in chapters">
            <a href="#/comic/{{strip.stripId}}">{{strip.chapter}}</a>
          </li>
        </ul>
      </div>
      <div class="toggle-navigation" ng-click="showNavigation=!showNavigation"></div>
    </div><div class="main" ng-view />

    <script type="text/ng-template" id="template/comicPage.html">
      <div class="comic-page">
        <a href="{{previousComic}}" ng-disabled="!previousComic">&lt;</a><div f-comic></div><a href="{{nextComic}}" ng-disabled="!nextComic">&gt;</a>
      </div>
    </script>
    <script type="text/ng-template" id="template/comic.html">
      <div class="id">#{{comic.stripId}}</div>
      <div class="chapter">{{comic.chapter}}</div>
      <div class="description">{{comic.dayDescription}}</div>
      <div class="comic-wrapper">
        <img ng-src="{{comic.url}}" />
        <div class="panel-selector">
          <div ng-class="{'selected': selectedPanel === 0}"
               ng-click="selectPanel(0)">[]</div>
          <div ng-repeat="panel in comic.panels"
               ng-style="{'width': (100/comic.panels.length)+'%'}"
               ng-class="{'selected': selectedPanel === panel.index}"
               ng-click="selectPanel(panel.index)">&nbsp;</div>
          <div ng-click="addPanel()">+</div>
        </div>
      </div>
      <div class="tag-data" ng-show="selectedPanel === 0">
        <label f-tag-input="comic.stripId">Strip Id:</label>
        <label f-tag-input="comic.url">URL:</label>
        <label f-tag-input="comic.chapter">Chapter:</label>
        <label f-tag-input="comic.dayDescription">Description:</label>
        <label f-tag-input="comic.year">Year:</label>
        <label f-tag-input="comic.place">Place:</label>
        <label>Tags:</label>
      </div>
      <div class="tag-data" ng-repeat="panel in comic.panels" ng-show="selectedPanel === panel.index">
        <a class="remove" ng-click="removePanel(panel)">Remove Panel</a>
        <div class="dialog" ng-repeat="dialog in panel.dialog">
          <label f-tag-input="dialog.character">Character:</label>
          <label f-tag-input="dialog.action">Action:</label>
          <label for="dialog-text">Text:
            <textarea id="dialog-text" ng-model="dialog.text"></textarea>
          </label>
          <a class="remove" ng-click="removeDialog(panel, dialog)">Remove Dialog</a>
        </div>
        <a ng-click="addDialog(panel)">Add Dialog</a>
      </div>
    </script>
  </body>
</html>
